// app global css in SCSS form
@use "sass:color";

$txt-primary: color.adjust($primary, $blackness: 80%);

.text-primary-11 {
  color: $txt-primary;
  font-size: 1.1rem;
}
.text-primary-12 {
  color: $txt-primary;
  font-size: 1.2rem;
}
// .text-primary-2 {
//   color: $txt-primary;
//   font-size: 1.2rem;
//   font-weight: 500;
// }

.rounded-1 {
  border-radius: 8px !important;
}

.q-scrollarea__thumb {
  // background: #000;
  // border-radius: 3px !important;

  background: linear-gradient(90deg,
    color.adjust($red-9, $whiteness: 10%) 0%,
    color.adjust($red-9, $blackness: 10%) 40%,
    color.adjust($red-9, $blackness: 20%) 60%,
    color.adjust($red-9, $blackness: 30%) 100%,
  ) !important;
}


.glossy-1 {
  background-color: $primary;
  background-image: linear-gradient(to bottom,
    rgba(255, 255, 255, 0.10) 0%,
    rgba(255, 255, 255, 0.01) 44%,
    rgba(0, 0, 0, 0.01) 56%,
    rgba(0, 0, 0, 0.05) 100%) !important;
}


.flex-break {flex: 1 0 100% !important;}

.opacity-85 {opacity: 0.85;}
.opacity-75 {opacity: 0.75;}
.opacity-45 {opacity: 0.45;}
.opacity-25 {opacity: 0.25;}


.left-image {
  float: left;
  margin-right: 32px;
}

.right-image {
  float: right;
  margin-left: 32px;
}
